
.auth{
    width: 40%;
    margin: 100px auto;
}

.auth form input{
    width: 100%;
    padding: 15px 15px;
    outline: none;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 35px;
    margin-bottom: 25px;
    color: white;
    box-sizing: border-box;
}

.auth form input:focus{
    background: #01cbe6;
    border: 2px solid #01cbe6;
}

.auth form input:focus::placeholder{
    color: white;
}

.auth form button{
    width: 100%;
    outline: none;
    padding: 15px 0;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    color: white;
    background: #01cbe6;
}

.auth h1{
    text-align: center;
    color: #01cbe6;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 20px;
}

.auth p{
    font-weight: 600;
    text-align: center;
    color: rgb(80, 80, 80);
}

.auth p span{
    cursor: pointer;
    color: #01cbe6;
    margin-left: 7px;
}

.auth p span:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1150px){
    
    .auth{
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    
    .auth{
        width: 60%;
    }
}

@media screen and (max-width: 750px){
    
    .auth{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    
    .auth{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    
    .auth{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    
    .auth h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 420px){
    
    .auth h1{
        font-size: 26px;
    }

    .auth p{
        font-size: 15px;
    }
}

@media screen and (max-width: 380px){
    
    .auth h1{
        font-size: 25px;
    }
}