
.selected_wrapper{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    height: 100px;
}

.selected_wrapper_image{
    height: 100%;
    width: 20%;
}

.selected_wrapper_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected_wrapper_content{
    width: 70%;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.selected_wrapper_content:hover p {
    color: #01cbe6;
}

.selected_wrapper_content p{
    margin: 0px;
    line-height: 1.6;
    font-weight: 500;
    color: grey;
}

.selected_wrapper_footer{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected_wrapper_footer:hover span{
    color: red;
}

.selected_wrapper_footer span{
    cursor: pointer;
    font-size: 35px;
    color: grey;
}

.seleted_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.seleted_empty h1{
    margin: 0px;
    color: #01cbe6;
    font-size: 30px;
}