
.user{
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
}

.user_header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 250px;
    justify-content: space-between;
}

.user_wrapper{
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
}

.user_header_image{
    width: 35%;
    border-radius: 50%;
    height: 100%;
}

.user_header_content{
    margin-left: 40px;
    width: 60%;
}

.user_header_content h2{
    font-size: 40px;
    color: #01cbe6;
    margin: 0px;
    margin-bottom: 20px;
}

.user_header_content span{
    color: rgb(179, 179, 179);
    display: flex;
    font-weight: 600;
    align-items: center;
}

.user_header_content span svg{
    margin-right: 6px;
}

.user_footer button{
    background: rgb(255, 37, 37);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
}

.user_body{
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    border: 2px solid #eeeeee;
    background: rgb(245, 245, 245);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.user_body_sidebar{
    width: 25%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.user_body_sidebar a{
    display: flex;
    font-weight: 600;
    color: rgb(54, 54, 54);
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    padding: 14px 0;
    transition: .2s;
    padding-left: 20px;
    font-size: 18px;
    margin: 0px;
}

.user_body_sidebar a:hover{
    background: #f5feff;
    color: #01cbe6;
}

.user_body_sidebar_activeLink{
    background: #f5feff !important;
    color: #01cbe6 !important;
}

.user_body_sidebar a svg{
    margin-right: 10px;
}

.user_body_content{
    width: 75%;
    box-sizing: border-box;
    padding: 20px;
}

.user_body_content_content{
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background: white;
}

@media screen and (max-width: 1200px){
    
    .user_header_image{
        width: 45%;
    }
    
    .user_header_content{
        width: 55%;
    }
}

@media screen and (max-width: 1100px){
    
    .user_header_image{
        width: 50%;
    }
    
    .user_header_content{
        width: 47%;
    }
}

@media screen and (max-width: 950px){
    
    .user_header_image{
        width: 60%;
    }
    
    .user_header_content{
        width: 38%;
    }
}

@media screen and (max-width: 850px){

    .user_footer{
        width: 100%;
        text-align: center;
    }

    .user_wrapper{
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .user_header{
        height: 400px;
        flex-wrap: wrap;
    }
    
    .user_header_image{
        width: 60%;
        height: 60%;
    }
    
    .user_header_content{
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    .user_header_content span{
        justify-content: center;
    }

    .user_body{
        margin-top: 60px;
    }

    .user_footer button{
        padding: 8px 45px;
    }

    .user{
        width: 95%;
    }
}

@media screen and (max-width: 750px){

    .user_body{
        flex-direction: column;
    }

    .user_body_sidebar{
        width: 100%;
    }
    
    .user_body_sidebar a{
        border-bottom: 1px solid rgb(223, 223, 223);
    }

    .user_body_content{
        width: 100%;
    }
}

@media screen and (max-width: 650px){

    .user_header_image{
        width: 80%;
        height: 60%;
    }
    
    .user_header_content h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 550px){

    .user_header_image{
        width: 60%;
    }

    .user_wrapper{
        width: 90%;
    }
}

@media screen and (max-width: 450px){

    .user_header_image{
        width: 70%;
    }

    .user_wrapper{
        width: 95%;
    }
}

@media screen and (max-width: 400px){

    .user_header_content h2{
        font-size: 30px;
    }
}